body {
    padding: 64px;
}

.box {
    width: 100px;
    height: 100px;
    background: orange;
    transition-property: transform,background;
    transition-duration: 1s;
    /* transform-origin: top left; */
}

.box:hover {
    transform: translateX(30px);
    background: skyblue;
    /* transform: scale(.5, 2); */
}