body {
    padding: 64px;
}

.box {
    width: 100px;
    height: 100px;
    background: orange;

    animation-name: move;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    /* animation-direction: alternate; */
    /* animation-direction: reverse; */
    /* animation-direction: alternate-reverse; */
    /* animation-timing-function: linear; */
    }

    @keyframes move{
        0%{
            transform: none;
            animation-timing-function: linear;

        }
        80%{
            transform: translateX(200px) rotate(360deg);
        }
        100%{
            transform: translateX(300px) rotate(360deg);
        }
    }

